body {
  font-family:Helvetica, arial, sans-serif;
  background: #f0f0f0;
  color:#333;
}

#site {
  margin-left:150px;
}
#header {
  text-align:center;
}


h1 {
  font-size:24px;
  line-height:32px;
}
.container {
  background-color:#f8f8f8;
  margin-bottom:30px;
  padding:30px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  
}
.bargraph {
  height:50px;
  background-color:#009933;
  margin-right:100px;
  background:url("../img/marker.png");
  background-color:#009933;

}

.milemarker {
  border-left:2px #fff solid;
  height:20px;
  padding:15px;
  color:#fff;
  position: relative;
  float:left;
}

.milemarker a:link, 
.milemarker a:hover,
.milemarker a:visited, 
.milemarker a:active {
  color:#ffff00;
  text-decoration:none;
} 
.milemarker a:hover {
  text-decoration:underline;
}
a.keepgoing:link,
a.keepgoing:visited {
  font-size:.8em;
  padding-left:20px;
  color:#e0e0e0;
}
div.left {
}
img.dollar {
}
div.center {
  text-align:center;
}
img.bloombuck {
  margin-left:60px;
}